/* Reset start */

.display {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  font-family: "Roboto", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0);
  cursor: default;
}

body {
  font-size: 100%;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: relative;
  white-space: nowrap;
  overflow: auto;
}

a {
  background: transparent;
  text-decoration: none;
  color: inherit;
}

a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
}

:active,
:focus,
:hover {
  outline: none;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

ol,
ul {
  list-style: none;
}

pre {
  white-space: pre-wrap;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

q {
  quotes: "\201C""\201D""\2018""\2019";
}

img {
  border: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button {
  overflow: visible;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

button,
input,
select[multiple],
textarea {
  background-image: none;
}

input,
select,
textarea {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input,
textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  resize: none;
}

[placeholder]::-webkit-input-placeholder {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[placeholder]:-moz-placeholder,
[placeholder]::-moz-placeholder {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[placeholder]:-ms-input-placeholder {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[placeholder]:focus::-webkit-input-placeholder {
  color: transparent;
}

[placeholder]:focus:-moz-placeholder,
[placeholder]:focus::-moz-placeholder {
  color: transparent;
}

[placeholder]:focus:-ms-input-placeholder {
  color: transparent;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* Reset end */
/* Header start */
.head-wrap {
  background-color: #696969;
  position: relative;
}
.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.main-wrapper {
  max-width: 1360px;
  margin: 0 auto;
}
.menu-main {
  display: flex;
}
.menu-link {
  margin-right: 35px;
  font-size: 12px;
  text-transform: uppercase;
  color: #c2c2c2;
  padding: 20px 0px;
  transition: 0.25s ease-in-out;
}
.menu-link:hover {
  color: #ffffff;
}
.select-menu {
  color: #ffffff;
}
.btn-accent {
  background: #ffc925;
  position: absolute;
  width: 80px;
  height: 2px;
  bottom: 0;
  left: 14.3%;
  transition: 0.8s ease-in-out;
}
.button-profile {
  background-color: #ff8900;
  display: flex;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.button-profile:hover {
  background: #d36f00;
}
.button-profile > img {
  height: 15px;
  margin-left: 34px;
}
.button-profile > p {
  font-size: 12px;
  text-transform: uppercase;
  font-stretch: ultra-condensed;
  color: #ffffff;
  padding-right: 34px;
  padding-left: 10px;
}
.head-line {
  margin-top: 35px;
  display: flex;
}
.logo {
  font-size: 50px;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 25px;
  color: #ff8900;
  line-height: 0.8;
  margin-right: 125px;
}
.number-phone {
  background: #f5f5f5;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.number-phone > span {
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
}
.number-phone > span:last-child {
  margin-left: 40px;
  margin-right: 30px;
}
.phone-wrap {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 50px;
}
.callback-button {
  background: #ff8900;
  padding-left: 35px;
  padding-right: 35px;
  display: flex;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.callback-button:hover {
  background: #d36f00;
}
.callback-button > img {
  height: 17px;
  padding-right: 5px;
}
.callback-button > span {
  color: #ffff;
  text-transform: uppercase;
  font-size: 12px;
}
.cfb-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 95px;
}
.cfb-wrapper > div > img {
  height: 34px;
}
.cfb-wrapper > div {
  position: relative;
}
.cfb-wrapper > div > p {
  font-size: 10px;
  text-transform: uppercase;
  margin-top: 10px;
}
.cfb-wrapper > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quantity-select {
  position: absolute;
  top: -25px;
  left: 35%;
}
.quantity-select > span {
  position: absolute;
  top: 2px;
  left: 15px;
  font-size: 11px;
  color: #ffffff;
}
.compare {
  padding-right: 30px;
  padding-left: 30px;
  cursor: pointer;
}
.favorit {
  border-style: none solid none solid;
  border-width: 1px;
  border-color: #e4e4e4;
  padding-right: 30px;
  padding-left: 30px;
  cursor: pointer;
}
.backet {
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
}
.disp-none {
  display: none;
}
.cust-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.cus-head-menu {
  display: flex;
}
.cus-burger-ico {
  background: #d36f00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
  padding-right: 23px;
}
.cus-burger-line1 {
  width: 10px;
  height: 2px;
  margin-bottom: 2px;
  background: #ffffff;
}
.cus-burger-line2 {
  width: 14px;
  height: 2px;
  margin-bottom: 2px;
  background: #ffffff;
}
.cus-burger-line3 {
  width: 7px;
  height: 2px;
  background: #ffffff;
}
.cus-burger-text {
  background: #ff8900;
  height: 56px;
  display: flex;
  align-items: center;
  width: 265px;
}
.cus-burger-text > h3 {
  font-size: 20px;
  color: #ffffff;
  line-height: 0.8;
  text-transform: capitalize;
  margin-left: 23px;
  font-weight: 600;
}
.cus-items-link {
  border: solid 1px #f1f1f1;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.cus-items-link:hover {
  background: #f5f5f5;
}
.cus-items-link > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cus-items-link > a > span {
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #3b3b3b;
  font-size: 16px;
  font-weight: bold;
  padding-left: 40px;
}
.cus-items-link > a > img {
  padding-right: 34px;
}
.cus-search-container {
  width: 1015px;
}
.cus-search-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cus-finder {
  background: #f5f5f5;
  border: none;
}
.cus-search-filter-wrapper {
  display: flex;
  flex-direction: column;
}
.cus-filter-tabs-wrapper {
  display: flex;
  background-color: #606a76;
  height: 75px;
  position: relative;
}
.cus-tabs-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cus-tabs-items {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #a0a6ad;
}
.white-text {
  color: #fff;
}
.cus-tabs-items {
  margin-left: 65px;
}
.cus-tabs-items > p {
  margin-left: 13px;
}
.car {
  width: 40px;
}
.truck {
  width: 46px;
}
.well {
  width: 25px;
}
.oil {
  height: 29px;
}
.battery {
  width: 26px;
}
.tab-icon-active path {
  stroke: #f6c32a;
}
.cus-btn-accent {
  position: absolute;
  background: #ffc925;
  width: 220px;
  height: 2px;
  bottom: 0;
  left: 0%;
  transition: 0.8s ease-in-out;
}

/* Custom select start*/

.custom-select {
  position: relative;
  width: 220px;
  border-bottom: double #696969;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #fff;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #ff8500 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected,
.select-arrow-active:after {
  border-color: transparent transparent #ff8500 transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #9c9c9c;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/* selec custom end */
