.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  z-index: 1000;
}
.none {
  display: none;
}
.error {
  color: red;
  font-size: 10px;
  margin-bottom: 3px;
}
.activ-click {
  color: #9c9c9c;
}
/* Header start */
.head-wrap {
  background-color: #696969;
  position: relative;
}
.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.main-wrapper {
  position: relative;
  max-width: 1360px;
  margin: 0 auto;
}
.menu-main {
  display: flex;
}
.menu-link {
  margin-right: 35px;
  font-size: 12px;
  text-transform: uppercase;
  color: #c2c2c2;
  padding: 20px 0px;
  transition: 0.25s ease-in-out;
}
.menu-link:hover {
  color: #ffffff;
}
.select-menu {
  color: #ffffff;
}
.btn-accent {
  background: #ffc925;
  position: absolute;
  width: 80px;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.8s ease-in-out;
}
.button-profile {
  background-color: #ff8900;
  display: flex;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.button-profile:hover {
  background: #d36f00;
}
.button-profile > img {
  height: 15px;
  margin-left: 34px;
}
.button-profile > span {
  font-size: 12px;
  text-transform: uppercase;
  font-stretch: ultra-condensed;
  color: #ffffff;
  padding-right: 34px;
  padding-left: 10px;
}
.head-line {
  margin-top: 35px;
  display: flex;
}
.accent-color {
  color: #ff8900;
  margin-right: 125px;
}
.logo-phone {
  display: flex;
}
.logo {
  font-size: 50px;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 25px;
  line-height: 0.8;
  text-transform: uppercase;
}
.number-phone {
  background: #f5f5f5;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.number-phone > span {
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
}
.number-phone > span:last-child {
  margin-left: 40px;
  margin-right: 30px;
}
.phone-wrap {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 50px;
}
.callback-button {
  background: #ff8900;
  padding-left: 35px;
  padding-right: 35px;
  display: flex;
  align-items: center;
  transition: 0.5s ease-in-out;
}
.callback-button:hover {
  background: #d36f00;
}
.callback-button > img {
  height: 17px;
  padding-right: 5px;
}
.callback-button > span {
  color: #ffff;
  text-transform: uppercase;
  font-size: 12px;
}
.cfb-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 95px;
}
.cfb-wrapper > div > img {
  height: 34px;
}
.cfb-wrapper > div {
  position: relative;
}
.cfb-wrapper > div > p {
  font-size: 10px;
  text-transform: uppercase;
  margin-top: 10px;
}
.cfb-wrapper > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quantity-select {
  position: absolute;
  top: -25px;
  left: 35%;
}
.quantity-select > span {
  position: absolute;
  top: 2px;
  left: 15px;
  font-size: 11px;
  color: #ffffff;
}
.compare {
  padding-right: 30px;
  padding-left: 30px;
  cursor: pointer;
}
.favorit {
  border-style: none solid none solid;
  border-width: 1px;
  border-color: #e4e4e4;
  padding-right: 30px;
  padding-left: 30px;
  cursor: pointer;
}
.backet {
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
}
.cust-container {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
.cus-head-menu {
  display: flex;
}
.cus-burger-ico {
  background: #d36f00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
  padding-right: 23px;
}
.cus-burger-line1 {
  width: 10px;
  height: 2px;
  margin-bottom: 2px;
  background: #ffffff;
}
.cus-burger-line2 {
  width: 14px;
  height: 2px;
  margin-bottom: 2px;
  background: #ffffff;
}
.cus-burger-line3 {
  width: 7px;
  height: 2px;
  background: #ffffff;
}
.cus-burger-text {
  background: #ff8900;
  height: 56px;
  display: flex;
  align-items: center;
  width: 265px;
}
.cus-burger-text > h3 {
  font-size: 20px;
  color: #ffffff;
  line-height: 0.8;
  text-transform: capitalize;
  margin-left: 23px;
  font-weight: 600;
}
.cus-items-link {
  border: solid 1px #f1f1f1;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.cus-items-link:hover {
  background: #f5f5f5;
}
.cus-items-link > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cus-items-link > a > span {
  text-transform: uppercase;
  padding-top: 19px;
  padding-bottom: 20px;
  color: #3b3b3b;
  font-size: 16px;
  font-weight: bold;
  padding-left: 40px;
}
.cus-items-link > a > img {
  padding-right: 34px;
}
.cus-search-container {
  width: 1015px;
}
.form-search {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.cus-input-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-grow: 1;
}
.cus-cat-wrapper {
  position: absolute;
  top: -2px;
  right: 10px;
}
.cus-finder {
  font-size: 14px;
  line-height: 0.7;
  display: flex;
  background: #f5f5f5;
  border: none;
  padding: 20px 28px;
  flex-grow: 1;
  line-height: normal;
}
.cus-border-line {
  position: absolute;
  top: -12px;
  left: -14px;
  height: 37px;
  width: 1px;
  background-color: #dadada;
  z-index: 102;
}
.btn-search {
  color: #fff;
  background-color: #ff8900;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding: 18.5px 56px;
  transition: 0.5s ease-in-out;
}
.btn-search:hover {
  background-color: #db7200;
}
.cus-search-filter-wrapper {
  display: flex;
  flex-direction: column;
}
.cus-filter-tabs-wrapper {
  display: flex;
  background-color: #606a76;
  height: 75px;
  position: relative;
}
.cus-tabs-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cus-tabs-items {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #a0a6ad;
  margin-left: 65px;
  cursor: pointer;
}
.white-text {
  color: #fff;
  transition: 0.5s ease-in-out;
}
.cus-tabs-items > svg,
.cus-tabs-items > p {
  pointer-events: none;
}
.cus-tabs-items > p {
  margin-left: 13px;
}
/*=====svg-rule-start======*/
.tab-icon-active path {
  stroke: #f6c32a;
  transition: 0.5s ease-in-out;
}
/*=====svg-rule-end======*/
.cus-btn-accent {
  position: absolute;
  background: #ffc925;
  width: 180px;
  height: 2px;
  bottom: 0;
  left: 30px;
  transition: 0.8s ease-in-out;
}
.cus-filter-content-wrapper {
  background-color: #696969;
  min-height: 300px;
}
.cus-filet-tabs-wrapper {
  margin-top: 24px;
  margin-left: 36px;
  width: 280px;
  height: 44px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  color: #696969;
}
.cus-filet-tabs-wrapper > span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 14px;
  z-index: 2;
}
.cus-btn-select {
  position: absolute;
  width: 140px;
  height: 38px;
  left: 4px;
  background-color: #ff8900;
  z-index: 1;
  transition: 0.5s ease-in-out;
}
.tab-content {
  display: none;
}
.active-tab-content {
  display: block;
  transition-delay: 1s ease-in-out;
  -o-transition-delay: 1s ease-in-out;
  -moz-transition-delay: 1s ease-in-out;
}
.cus-filter-option-wrapper {
  margin: 0px 36px 24px 36px;
}
.cus-btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cus-filter-option-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cus-fitel-cost {
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 24px;
}
.min-cost,
.max-cost {
  border: none;
  width: 74px;
  height: 40px;
  text-align: center;
  position: relative;
}
.wrap-cost {
  color: #9c9c9c;
  font-size: 14px;
  margin-left: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.wrap-cost:hover > .cus-white-line1 {
  background-color: #ff8500;
  transition: 0.4s ease-in-out;
}
.cus-fitel-cost > span {
  font-size: 14px;
  color: #fff;
}
/* Custom select start*/
.custom-select {
  position: relative;
  font-size: 14px;
  width: 220px;
  margin-top: 24px;
}
.custom-select select,
.custom-select-cat select {
  display: none; /*hide original SELECT element:*/
}
.custom-select-cat {
  position: absolute;
  font-size: 14px;
  width: 125px;
  margin-top: 24px;
}
/*backlight SELECT element*/
.custom-select:hover > .cus-white-line {
  background-color: #ff8500;
  transition: 0.4s ease-in-out;
}
/*for main select:*/
.cus-white-line {
  background-color: #fff;
  width: 220px;
  height: 1px;
  position: absolute;
  bottom: -2px;
}
/*for price area select:*/
.cus-white-line1 {
  background-color: #fff;
  width: 74px;
  height: 1px;
  position: absolute;
  bottom: -2px;
}

.select-selected {
  background-color: #fff;
}
.select-selected-cat {
  background-color: #f5f5f5;
  cursor: pointer;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 18px;
  right: 25px;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-color: #ff8500 transparent transparent transparent;
}
.select-selected-cat:after {
  position: absolute;
  content: "";
  top: 5px;
  right: 16px;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-color: #8c8c8c transparent transparent transparent;
  z-index: 998;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected,
.select-arrow-active:after {
  border-color: transparent transparent #ff8500 transparent;
  top: 7px;
}
.select-selected-cat,
.select-arrow-active-cat:after {
  border-color: transparent transparent #8c8c8c transparent;
  top: -5px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-items-cat div,
.select-selected {
  color: #9c9c9c;
  padding: 12px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}
.select-selected-cat {
  color: #8c8c8c;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
.select-items-cat {
  position: absolute;
  background-color: #f5f5f5;
  top: -12px;
  left: -17px;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.select-items-cat div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/* selec custom end */

/*Btn filter start*/
.cus-btn-wrapper {
  margin: 0px 36px 24px 36px;
}
.reset-filter-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 20px 37px;
  background-color: #ff4800;
  color: #fff;
  transition: 0.5s ease-in-out;
}
.reset-filter-btn:hover {
  background-color: #a33300;
}
.esc-icon {
  display: flex;
  position: relative;
  padding-right: 15px;
  align-items: center;
}
.esc-icon-left {
  position: absolute;
  width: 1px;
  height: 15px;
  transform: rotate(-45deg);
  background-color: #fff;
}
.esc-icon-rithg {
  position: absolute;
  width: 1px;
  height: 15px;
  transform: rotate(45deg);
  background-color: #fff;
}
.submit-filter-btn {
  background: linear-gradient(90deg, #ff8500, #ffae00);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  padding: 20px 37px;
}
.submit-filter-btn:hover {
  background: #db7200;
}

/*Btn filter end*/

/* Goods card style start*/

.goods-container {
  margin-top: 37px;
  margin-bottom: 55px;
}
/*head ================== start*/
.goods-name-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.goods-name-wrapper > h1 {
  font-size: 36px;
}
.goods-catalog-link-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.goods-catalog-link-wrapper > p {
  font-size: 14px;
  text-decoration: underline;
}
.goods-catalog-link-wrapper:hover > p {
  text-decoration: none;
}
.arrow-cat-wrapper {
  display: flex;
  align-items: center;
  margin-left: 11px;
  position: relative;
}
.arrow-line {
  width: 12px;
  height: 1px;
  background-color: #ff8500;
}
.arrow-head {
  margin-top: 0.7px;
  border: 3px solid transparent;
  border-color: #ff8500 transparent transparent transparent;
  transform: rotate(-90deg);
}

/*head ================== end*/
/*=========good-line========= start*/
.good-line {
  display: flex;
  align-items: center;
}
.good-line-accent {
  height: 1px;
  width: 23%;
  background-color: #ff8500;
}
.good-line-defult {
  height: 1px;
  width: 77%;
  background-color: #dbdbdb;
}
/*=========good-line========= end*/
/*goodsHead ================== start*/
.goods-card-wrapper {
  display: flex;
  align-items: center;
}
.goods-card {
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #dbdbdb;
}
.border-right-card {
  border-right: 1px solid #dbdbdb;
}
.goods-card-head {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 86px;
}
.card-lable {
  width: 80px;
  padding: 6px 24px;
  font-size: 14px;
  color: #848484;
  font-weight: lighter;
  background-color: #f2f2f2;
  margin: 15px 8px;
}
.card-name {
  font-size: 17px;
  text-decoration: underline;
  white-space: normal;
  margin: 0px 10px;
  letter-spacing: normal;
  line-height: 23px;
  min-height: 46px;
}
/*goodsHead ================== end*/

/* review===================start*/
.card-review-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px 10px;
}
.fill-color {
  color: #ff8600;
}
.card-reating,
.card-review-link {
  color: #a4a4a4;
  font-size: 14px;
}
.card-review-link {
  font-size: 13px;
  margin-left: 10px;
  text-decoration: underline;
}
.card-review-link:hover {
  text-decoration: none;
}
.good-quantity {
  font-size: 12px;
  color: #757575;
}
/* review===================end*/
/* card-body===================start*/
.goods-card-body {
  display: flex;
  margin: 0px 10px;
  max-height: 209px;
  min-height: 209px;
}
.goods-card-body > img {
  max-height: 190px;
}
.type-wrap {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.type-items {
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 10px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #91959a;
}
.type-items > p {
  margin-top: 10px;
}
.goods-type-wrapper {
  margin-right: 35px;
}
/* card-body===================end*/
/*============card-sticker============start*/
.card-teg-wrapper {
  min-height: 55px;
}
.card-teg-head {
  display: flex;
  align-items: center;
  justify-content: center;
}
.teg-items {
  position: relative;
}
.teg-items > p {
  position: absolute;
  top: 28.5%;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
.teg-items:nth-child(1) > p {
  left: 26%;
}
.teg-items:nth-child(2) > p {
  left: 40%;
}
.teg-items:nth-child(3) > p {
  left: 30%;
}
/*============card-sticker============end*/
/*============card-price============start*/
.goods-card-price {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px 15px 10px;
  align-items: center;
}
.card-price {
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
  color: #3b3b3b;
}
.card-price-promo {
  display: inline;
  text-decoration: line-through;
  color: #e00000;
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
}
.card-price-promo > span {
  color: #989898;
}

/*============card-price============end*/

/*============card-button============start*/
.buy-goods {
  padding: 14px 0px;
  width: 210px;
  background: linear-gradient(90deg, #ff8500, #ffae00);
}
.buy-goods:hover {
  background: #d97a00;
}
.buy-goods > span {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  margin-left: 16px;
}
/*============card-button============end*/
/*============card-comper-favorit============start*/
.goods-card-cust {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 10px 15px 10px;
}
.goods-card-cust > div {
  cursor: pointer;
}
.goods-comper:hover > span,
.goods-favorit-add:hover > span {
  text-decoration: none;
}
.goods-comper > span,
.goods-favorit-add > span {
  margin-left: 11px;
  text-decoration: underline;
  font-size: 14px;
}
/*============card-comper-favorit============end*/
/* Goods card style end*/

/* Footer style start*/
.footer-wrapper {
  background-color: #696969;
}
.wrapper-links {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 32px 0px;
}
.sub-head {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.sub-head > h2 {
  margin-bottom: 12px;
}
.footer-sub {
  padding-right: 100px;
}
.line-accent-1 {
  background-color: #ff8500;
  height: 1px;
  width: 20%;
}
.line-1 {
  background-color: #7a7a7a;
  height: 1px;
  width: 80%;
}
.sub-body > h4 {
  font-size: 20px;
  text-transform: uppercase;
  color: #cbcbcb;
  font-weight: bold;
  line-height: 24px;
  margin-top: 30px;
}
.sub-body > h3 {
  font-size: 26px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  line-height: 28px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.form-sub {
  display: flex;
  width: 575px;
  height: 50px;
  align-items: stretch;
}
.sub-emil {
  border: none;
  width: 100%;
  padding: 0px 20px;
}
.btn-submit {
  border: none;
  padding: 0px 28px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff8900;
  transition: 0.5s ease-in-out;
}
.btn-submit:hover {
  background-color: #d97a00;
}
.footer-link {
  margin-top: 30px;
}
.footer-items-link {
  margin-top: 24px;
  font-size: 13px;
  text-decoration: underline;
  color: #fff;
  cursor: pointer;
}
.footer-items-link:hover {
  text-decoration: none;
}
.footer-link-1 {
  width: 210px;
}
.footer-wrapper-link,
.footer-wrapper-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-border-line {
  height: 1px;
  background-color: #757575;
}
.footer-wrapper-end {
  margin-top: 26px;
  padding-bottom: 8px;
}
.footer-color {
  color: #9197a3;
}
.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
}
.border-line {
  width: 1px;
  background-color: #787878;
  height: 43px;
}
.copyrigth-text {
  color: #a0a9b2;
  margin-left: 15px;
  font-size: 12px;
}
.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}
.social-items {
  display: flex;
  color: #fff;
  width: 50px;
  height: 50px;
  border: 1px solid #7b8092;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  margin: 0px 5px 0px 5px;
  transition: 0.5s ease-in-out;
}
.social-items:hover {
  color: #ffc925;
  border-color: #ffc925;
}
.wezom_logo {
  margin-right: 19px;
}
.devop-signatur > p:first-child {
  color: #a0a9b2;
  font-size: 12px;
}
.devop-signatur > p:last-child {
  color: #fff;
  font-size: 14px;
  margin-top: 10px;
}
.devop-signatur {
  margin-left: 18px;
}
/* Footer style end*/

/*============popUp-stype-start===========*/
/*=============personal-cabinet-popUp-start===========*/
.pop-pers-cab-wrapper {
  width: 755px;
  height: 430px;
  background-color: #fff;
  color: #3b3b3b;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 10px 40px;
  z-index: 9999;
}
.head-cab {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}
.input-wrapper {
  margin-bottom: 20px;
}
.input-wrapper > p {
  font-size: 14px;
  margin-bottom: 15px;
}
.input-wrapper > input {
  border: 1px solid #d2d2d2;
  width: 300px;
  height: 40px;
  padding-left: 15px;
  transition: 0.5s ease-in-out;
}
.input-wrapper:hover > input {
  border-color: #ff8500;
}
.input-checbox {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 8px 0px;
}
.input-checbox > span {
  margin-left: 7px;
  font-size: 14px;
}
.emerg-link {
  margin: 19px 0px;
  font-size: 14px;
  text-decoration: underline;
}
.emerg-link > a {
  margin-right: 20px;
}
.cab-btn {
  padding: 20px 18px;
  background-color: #afb9c5;
  font-size: 14px;
  color: #fff;
}
.pop-border-line {
  height: 365px;
  width: 1px;
  background-color: #dbdbdb;
  margin: 0px 35px;
}
.social-enter {
  flex-direction: column;
  color: #fff;
}
.back-face {
  background-color: #3b5997;
  margin-top: 52px;
}
.back-twit {
  background-color: #41abe1;
}
.back-google {
  background-color: #e94335;
}
.enter-items {
  align-items: center;
  font-size: 14px;
  width: 293px;
  height: 50px;
  margin-bottom: 24px;
  cursor: pointer;
}
.enter-items > a > p {
  margin-left: 11px;
}
.esc-icon-pop {
  width: 32px;
  height: 32px;
  position: relative;
  top: -240px;
  right: -70px;
  cursor: pointer;
}
.esc-icon-1 {
  position: absolute;
  width: 1px;
  height: 30px;
  transform: rotate(-45deg);
  background-color: #cdcdcd;
}
.esc-icon-2 {
  position: absolute;
  width: 1px;
  height: 30px;
  transform: rotate(45deg);
  background-color: #cdcdcd;
}
/*=============personal-cabinet-popUp-end===========*/
/*=============callback-popUp-start===========*/
.callback-pop-wrapper {
  width: 380px;
  height: 280px;
  padding: 30px 39px;
  background-color: #fff;
  color: #3b3b3b;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 9999;
}
.callback-input-wrapper {
  font-size: 14px;
}
.tel-ph {
  font-size: 16px;
  color: #9c9c9c;
  border: 1px solid #d2d2d2;
}
.callback-btn {
  padding: 20px 45px;
  background-color: #ff8900;
  font-size: 14px;
  color: #fff;
  margin-top: 10px;
}
.esc-icon-pop-call {
  width: 32px;
  height: 32px;
  position: relative;
  top: -280px;
  right: -370px;
  cursor: pointer;
}
/*=============callback-cabinet-popUp-end===========*/
/*=============subscribs-popUp-start===========*/
.subs-done-wrapper {
  background-color: #fff;
  color: #3b3b3b;
  flex-direction: column;
  padding: 25px 10px;
  max-width: 380px;
  max-height: 220px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 9999;
}
.subs-done-pop {
  flex-direction: column;
  font-size: 24px;
  font-weight: bold;
}
.subs-done-pop > p:last-child {
  font-size: 20px;
  font-weight: normal;
}
.subs-done-pop > p {
  margin-bottom: 15px;
}
.done-icon {
  font-size: 45px;
  color: #29f514;
  margin-top: 10px;
}
.esc-icon-pop-sub {
  width: 32px;
  height: 32px;
  position: relative;
  top: -200px;
  right: -220px;
  cursor: pointer;
}
/*=============subscribs-popUp-end===========*/
/*============popUp-stype-end===========*/
